<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>



	<%= csrf_meta_tags %>

	<%= render 'layouts/shim' %>

</head>
<body ng-app="app">
	<%= render 'layouts/header' %>
	<div class="container">
	  <div ui-view></div>

	  <%= render 'layouts/footer' %>
	  <%= debug(params) if Rails.env.development? %>
	</div>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
</body>
</html>